@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Oxanium:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-oxanium: 'Oxanium', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-Noto-Kufi-Arabic: 'Noto Kufi Arabic', -apple-system, BlinkMacSystemFont, sans-serif;


  --color-raspberry-plum-50: hsl(322.1 76% 95.1%);
  --color-raspberry-plum-100: hsl(321.1 72.5% 90%);
  --color-raspberry-plum-200: hsl(321.3 74.5% 80%);
  --color-raspberry-plum-300: hsl(321.2 73.9% 70%);
  --color-raspberry-plum-400: hsl(320.8 73.5% 60%);
  --color-raspberry-plum-500: hsl(321 74.1% 50%);
  --color-raspberry-plum-600: hsl(320.8 73.5% 40%);
  --color-raspberry-plum-700: hsl(321.2 73.9% 30%);
  --color-raspberry-plum-800: hsl(321.3 74.5% 20%);
  --color-raspberry-plum-900: hsl(321.1 72.5% 10%);
  --color-raspberry-plum-950: hsl(320.8 72.2% 7.1%);

  --color-brand-bg: #0F141A;
  --color-brand-text: #FFE8F9;
  --color-brand-logo: #AE1A7B;
}

/* Base custom styles */
html, body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

[dir="rtl"], [dir="rtl"] * {
  font-family: var(--font-Noto-Kufi-Arabic),sans-serif !important;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(321.2 73.9% 20%);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(321 74.1% 50%);
}
